#login_container {
  background-color: white;
  width: 300px;
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
}

#login_container_course {
  background-color: white;
  border: solid;
  width: 1000px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
}

.course_navigator {

}

.summary_course_info {
  padding: 10px;
  margin: 10px;
  font-weight:bold;
}

#course_ul {
  list-style: none;
  padding: 0;
  margin-left: 5%;
}
#course_ul a:hover {
}


#course_ul li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    border-bottom: solid;
    transition: all .2s;
}
#course_ul li:hover {
    border-bottom: none;
}

#course_ul a {
  text-decoration: none;
  color: black;
  display: block;
}

#course_ul li.active {
  border-bottom: none;
  cursor: default;
}

.summary_course {
  height: 250px;
  margin: 50px;
}



#web_login {
  background-color: white;
}
.field_log {
  width: 300px;
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
}

.field_log_reason {
  width: 500px;
  height: 100px;
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
}

.container{
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
  -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  text-align: center;
  margin-top: 100px;
  padding: 100px;
}

p.newCourse_p {
  padding-right: 50px;
}

#button_submit {
  width: 250px;
  background-color: #111111;
  font-size: 20px;
  color: white;
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
  outline: none;
  clear: both;
  margin: 10px;
}

#button_submit:hover {
  background-color: #444444;
  transition: .3s background-color;
}

.menu_navigator_student {

}

table {
  margin: 10px;
  text-align: left;
}

nav ul {
  list-style: none;
  background-color: #111111;
  text-align: center;
  padding: 0;
  margin-right: 20%;
  margin-left: 20%;
}
nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: none solid #888;
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: all .3s ease-in-out;
  padding-left: 10px;
  padding-right: 10px;
}

nav a:hover {
  background-color: white;
  color: black;
}

nav a.active {
  background-color: white;
  color: black;
  cursor: default;
}
nav li {
}
table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.error {
  color: crimson;
}