<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8"/>
    <title>poprawTo - strona główna</title>



    <link rel="stylesheet" th:href="@{/style.css}" href="../../style.css" />

  </head>
  <body>
    <div class="logo_top">

    </div>
    <div id="login_container">
      <form action="index" method="post">
        Login
        <input type="text" class="field_log" name="login"/>
        haslo
        <input type="password" class="field_log" name="haslo"/>
        <input type="submit" name="" value="Zaloguj się" id="button_submit"/>
        <br/>
      </form>

      <h2>

      </h2>
    </div>
  </body>
</html>
